{% extends "_base.html" %}
{% load static %}

{% block title %}Batch List{% endblock title %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{% if message.tags == 'error' %}danger
            {% else %}{{ message.tags }}{% endif %} 
            {{ message.tags }} mt-4" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <h1>Batch Management</h1>
    <form action="{% url "batch_new" %}" method="post">
        {% csrf_token %}
        <button class="add">
            <img class="add_image" src="{% static "images/add.png" %}" alt="Ajouter">
        </button>
    </form>
    
    {% for lot in lot %}
    <div class="listview">
        <a href="{% url "batchdetail" lot.id %}" class="button">
            {{ lot.lot }} - {{ lot.description }} - {{ lot.id_article.description_article }}</a>
    </div>
    {% endfor %}

{% endblock content %}