body {
    min-height: 75rem;
    padding-top: 4.5rem;
}

p {
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    margin-bottom: 0;
}

.listview {
    background-color: #dfe6e9;
    padding: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.listview p{
    padding: 0;
    margin: 0;
}

.delete{
    float: right;
    height: 4.5rem;
}

.delete_image{
    height: 1.5em;
}

.add {
    background-color: green;
    color: white;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
}

.add_image {
    position: right;
    height: 1.5em;
}