{% extends "_base.html" %}
{% load static %}

{% block title %}Logistique{% endblock title %}

{% block content %}

    <h1>Logistique</h1>
    <h4>Chargement/Déchargement terminé</h4>
    {% for chargement in chargement %}
    <div class="listview">
        <a href="{% url "logistics_chargement_camion" chargement.id %}" class="button">
            {{ chargement.numero_chargement }} - {{ chargement.chargement_dechargement }} - 
            {{ chargement.id_lot }} - {{ chargement.id_lot.id_article }}<a>
        <p>Date début : {{ chargement.date_debut }}</p>
        <p>Date fin : {{ chargement.date_fin }}</p>
    </div>
    {% endfor %}

    <form action="{% url "logistics_overview" %}" method="post">
        {% csrf_token %}
        <button class="add">
            <img class="add_image" src="{% static "images/camion.png" %}" alt="Ajouter">
            Chargements planifiés
        </button>
    </form>

{% endblock content %}